h1 {text-align: center;
 margin-top: 40px;
 margin-bottom: 40px;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}
div {
	background-color: #D6D2D2;
	
}



#box {
	width: 95%;
	margin: auto;
}


/* P for Right Coner Box */
p {
	width: 80px;
	height: 20px;
	border: 1px solid black;
	margin-bottom: 10px;
	text-align: center;
}	
#p1 {
	background-color: red;
	position: relative;
	float: right;
		
}	

#p2 {
		background-color: green;
	position: relative;
	float: right;
	
}

#p3 {
	background-color: yellow;
	position: relative;
	float: right;
}

section {
	clear: right;
	width: 95%;
	margin: auto;
}

.row {
	width: 100%;
}
@media (min-width: 992px) {
 .col-lg-4 {
 	float: left;
 	border: 1px solid black;
 	margin-right: 3px;

 }
 .col-lg-4 {
 	width: 33%
 	
 }
}

@media (min-width: 768px) and (max-width: 992px) {
	.col-m-2, .col-m-1 {
		float: left;
		border: 1px solid black;
		margin-right: 3px;
		margin-bottom: 3px;
	}
	.col-m-2{
		width: 49.5%;
		
	}
	.col-m-1 {
		width: 99.5%
		
	}
}

@media (max-width: 767px) {
	.col-sm-12 {
		float: left;
		border: 1px solid black;
		margin-bottom: 5px;
	}
	.col-sm-12 {
		width: 100%

	}
}
